<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Daily Planet</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <a href="/"><img src="https://www.logolynx.com/images/logolynx/74/741468a25ed0596454090980d254bb80.png" alt="Daily Planet logo"></a>
      <nav>
        <a href="/articles">Home</a>
        <a href="/articles/new">New Article</a>
      </nav>
    </header>