<% include ../partials/header.ejs %>

<h3>Add New Article</h3>
<form method="POST" action="/articles">
  <input type="text" name="title" placeholder="Article Title" /><br />
  <input type="text" name="body" placeholder="Body" /><br />
  <input type="submit" />
</form>

<% include ../partials/footer.ejs %>