<% include ../partials/header.ejs %>
<main class="show">
  
  <h2>
    <%= article.title %>
  </h2>

  <p>
    <%= article.body %>
  </p>

  <div class="buttons">
    <a href="/articles/<%= id %>/edit">Edit Article</a>
    <form
    method="POST"
    action="/articles/<%= id %>/?_method=DELETE"
    >
      <input type="submit" value="Delete Article" />
    </form>
  </div>

</main>
<% include ../partials/footer.ejs %>
