<% include ../partials/header.ejs %>

<h2>
  <%= article.title %>
</h2>

<p>
  <%= article.body %>
</p>
<a href="/articles/<%= id %>/edit">Edit Article</a>
<form
method="POST"
action="/articles/<%= id %>/?_method=DELETE"
>
<input type="submit" value="Delete Article" />
</form>

<% include ../partials/footer.ejs %>
